label {
  display: block;
  font-family: "Fira Code";
  font-weight: bold;
  margin: 10px 0 5px 0;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  font-size: 1rem;
  box-sizing: border-box;
}
input.valido {
  border-color: green;
}
input.erro {
  border-color: red;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.erro-text {
  display: none;
  font-family: "Fira Code";
  font-size: .875rem;
  color: red;
}

.erro-text.ativar {
  display: block;
}
